In [1]:
import pandas as pd

df=pd.read_csv('C:/Users/pan21/cedt/tcas.csv')

In [2]:
df.head()

,_id,university_type_id,university_type_name_th,university_id,university_name_th,university_name_en,campus_id,campus_name_th,campus_name_en,faculty_id,...,program_partners_id,program_partners_inter_name,country_partners_name,major_acceptance_number,cost,graduate_rate,employment_rate,median_salary,created_at,updated_at
0,6715fb30deea14086a61f76f,1,ทปอ.,1,จุฬาลงกรณ์มหาวิทยาลัย,Chulalongkorn University,1,วิทยาเขตหลัก,Main Campus,21,...,0,0,0,0.0,ภาคการศึกษาต้นและภาคการศึกษาปลาย ภาคการศึกษาละ...,ร้อยละ 86.8 ต่อปีการศึกษา,NaN,NaN,2024-10-21T06:56:48.514Z,2024-10-21T06:57:58.753Z
1,6715fb30deea14086a61f770,1,ทปอ.,1,จุฬาลงกรณ์มหาวิทยาลัย,Chulalongkorn University,1,วิทยาเขตหลัก,Main Campus,21,...,0,0,0,0.0,ภาคการศึกษาต้นและภาคการศึกษาปลาย ภาคการศึกษาละ...,ร้อยละ 86.8 ต่อปีการศึกษา,NaN,NaN,2024-10-21T06:56:48.514Z,2024-10-21T06:57:58.806Z
2,6715fb30deea14086a61f771,1,ทปอ.,1,จุฬาลงกรณ์มหาวิทยาลัย,Chulalongkorn University,1,วิทยาเขตหลัก,Main Campus,21,...,0,0,0,0.0,ภาคการศึกษาต้นและภาคการศึกษาปลาย ภาคการศึกษาละ...,ร้อยละ 86.8 ต่อปีการศึกษา,NaN,NaN,2024-10-21T06:56:48.514Z,2024-10-21T06:57:58.820Z
3,6715fb30deea14086a61f783,1,ทปอ.,1,จุฬาลงกรณ์มหาวิทยาลัย,Chulalongkorn University,1,วิทยาเขตหลัก,Main Campus,21,...,0,0,0,0.0,ดูรายละเอียดเพิ่มเติม https://www.chula.ac.th/...,NaN,NaN,NaN,2024-10-21T06:56:48.520Z,2025-02-17T03:26:42.227Z
4,6715fb30deea14086a61f774,1,ทปอ.,1,จุฬาลงกรณ์มหาวิทยาลัย,Chulalongkorn University,1,วิทยาเขตหลัก,Main Campus,21,...,0,0,0,0.0,ภาคการศึกษาต้นและภาคการศึกษาปลาย ภาคการศึกษาละ...,ร้อยละ 86.8 ต่อปีการศึกษา,NaN,NaN,2024-10-21T06:56:48.515Z,2024-10-21T06:57:58.813Z

In [3]:
import pandas as set_option

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', None)
df.head()

,_id,university_type_id,university_type_name_th,university_id,university_name_th,university_name_en,campus_id,campus_name_th,campus_name_en,faculty_id,faculty_name_th,faculty_name_en,group_field_id,group_field_th,field_id,field_name_th,field_name_en,program_running_number,program_name_th,program_name_en,program_type_id,program_type_name_th,program_id,number_acceptance_mko2,program_partners_id,program_partners_inter_name,country_partners_name,major_acceptance_number,cost,graduate_rate,employment_rate,median_salary,created_at,updated_at
0,6715fb30deea14086a61f76f,1,ทปอ.,1,จุฬาลงกรณ์มหาวิทยาลัย,Chulalongkorn University,1,วิทยาเขตหลัก,Main Campus,21,คณะวิศวกรรมศาสตร์,Faculty of Engineering,30,วิศวกรรมศาสตร์,0,วิศวกรรมทั่วไป,General Engineering,1,หลักสูตรวิศวกรรมศาสตรบัณฑิต สาขาวิชาวิศวกรรมศา...,Bachelor of Engineering Program,A,ภาษาไทย ปกติ,10010121300001A,0.0,0,0,0,0.0,ภาคการศึกษาต้นและภาคการศึกษาปลาย ภาคการศึกษาละ...,ร้อยละ 86.8 ต่อปีการศึกษา,NaN,NaN,2024-10-21T06:56:48.514Z,2024-10-21T06:57:58.753Z
1,6715fb30deea14086a61f770,1,ทปอ.,1,จุฬาลงกรณ์มหาวิทยาลัย,Chulalongkorn University,1,วิทยาเขตหลัก,Main Campus,21,คณะวิศวกรรมศาสตร์,Faculty of Engineering,30,วิศวกรรมศาสตร์,5,วิศวกรรมคอมพิวเตอร์,Computer Engineering,1,หลักสูตรวิศวกรรมศาสตรบัณฑิต สาขาวิชาวิศวกรรมคอ...,Bachelor of Engineering Program in Computer En...,A,ภาษาไทย ปกติ,10010121300501A,140.0,0,0,0,0.0,ภาคการศึกษาต้นและภาคการศึกษาปลาย ภาคการศึกษาละ...,ร้อยละ 86.8 ต่อปีการศึกษา,NaN,NaN,2024-10-21T06:56:48.514Z,2024-10-21T06:57:58.806Z
2,6715fb30deea14086a61f771,1,ทปอ.,1,จุฬาลงกรณ์มหาวิทยาลัย,Chulalongkorn University,1,วิทยาเขตหลัก,Main Campus,21,คณะวิศวกรรมศาสตร์,Faculty of Engineering,30,วิศวกรรมศาสตร์,5,วิศวกรรมคอมพิวเตอร์,Computer Engineering,99,หลักสูตรวิศวกรรมศาสตรบัณฑิต สาขาวิชาวิศวกรรมคอ...,Bachelor of Engineering Program in Computer En...,A,ภาษาไทย ปกติ,10010121300599A,300.0,0,0,0,0.0,ภาคการศึกษาต้นและภาคการศึกษาปลาย ภาคการศึกษาละ...,ร้อยละ 86.8 ต่อปีการศึกษา,NaN,NaN,2024-10-21T06:56:48.514Z,2024-10-21T06:57:58.820Z
3,6715fb30deea14086a61f783,1,ทปอ.,1,จุฬาลงกรณ์มหาวิทยาลัย,Chulalongkorn University,1,วิทยาเขตหลัก,Main Campus,21,คณะวิศวกรรมศาสตร์,Faculty of Engineering,30,วิศวกรรมศาสตร์,6,วิศวกรรมเคมี,Chemical Engineering,1,หลักสูตรวิศวกรรมศาสตรบัณฑิต สาขาวิชาวิศวกรรมเค...,Bachelor of Engineering Program in Chemical an...,E,นานาชาติ,10010121300601E,40.0,0,0,0,0.0,ดูรายละเอียดเพิ่มเติม https://www.chula.ac.th/...,NaN,NaN,NaN,2024-10-21T06:56:48.520Z,2025-02-17T03:26:42.227Z
4,6715fb30deea14086a61f774,1,ทปอ.,1,จุฬาลงกรณ์มหาวิทยาลัย,Chulalongkorn University,1,วิทยาเขตหลัก,Main Campus,21,คณะวิศวกรรมศาสตร์,Faculty of Engineering,30,วิศวกรรมศาสตร์,11,วิศวกรรมนิวเคลียร์,Nuclear Engineering,1,หลักสูตรวิศวกรรมศาสตรบัณฑิต สาขาวิชาวิศวกรรมนิ...,Bachelor of Engineering Program in Nuclear and...,A,ภาษาไทย ปกติ,10010121301101A,20.0,0,0,0,0.0,ภาคการศึกษาต้นและภาคการศึกษาปลาย ภาคการศึกษาละ...,ร้อยละ 86.8 ต่อปีการศึกษา,NaN,NaN,2024-10-21T06:56:48.515Z,2024-10-21T06:57:58.813Z

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4722 entries, 0 to 4721
Data columns (total 34 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   _id                          4722 non-null   object
 1   university_type_id           4722 non-null   int64
 2   university_type_name_th      4722 non-null   object
 3   university_id                4722 non-null   int64
 4   university_name_th           4722 non-null   object
 5   university_name_en           4722 non-null   object
 6   campus_id                    4722 non-null   int64
 7   campus_name_th               4722 non-null   object
 8   campus_name_en               4722 non-null   object
 9   faculty_id                   4722 non-null   int64
 10  faculty_name_th              4722 non-null   object
 11  faculty_name_en              4571 non-null   object
 12  group_field_id               4722 non-null   int64
 13  group_field_th               4722 non-null   object
 14  field_id                     4722 non-null   int64
 15  field_name_th                4722 non-null   object
 16  field_name_en                4722 non-null   object
 17  program_running_number       4722 non-null   int64
 18  program_name_th              4722 non-null   object
 19  program_name_en              4432 non-null   object
 20  program_type_id              4722 non-null   object
 21  program_type_name_th         4722 non-null   object
 22  program_id                   4722 non-null   object
 23  number_acceptance_mko2       4638 non-null   float64
 24  program_partners_id          4140 non-null   object
 25  program_partners_inter_name  4210 non-null   object
 26  country_partners_name        4198 non-null   object
 27  major_acceptance_number      4188 non-null   float64
 28  cost                         4722 non-null   object
 29  graduate_rate                2976 non-null   object
 30  employment_rate              2978 non-null   object
 31  median_salary                2807 non-null   object
 32  created_at                   4722 non-null   object
 33  updated_at                   4309 non-null   object
dtypes: float64(2), int64(7), object(25)
memory usage: 1.2+ MB

In [5]:
df[['number_acceptance_mko2', 'major_acceptance_number']].head()

   number_acceptance_mko2  major_acceptance_number
0                     0.0                      0.0
1                   140.0                      0.0
2                   300.0                      0.0
3                    40.0                      0.0
4                    20.0                      0.0

In [6]:
columns_to_drop = ['program_partners_id', 'program_partners_inter_name', 'country_partners_name',
                   'major_acceptance_number', 'graduate_rate', 'employment_rate',
                   'median_salary', 'created_at', 'updated_at']

df = df.drop(columns=columns_to_drop)
df.head()

,_id,university_type_id,university_type_name_th,university_id,university_name_th,university_name_en,campus_id,campus_name_th,campus_name_en,faculty_id,faculty_name_th,faculty_name_en,group_field_id,group_field_th,field_id,field_name_th,field_name_en,program_running_number,program_name_th,program_name_en,program_type_id,program_type_name_th,program_id,number_acceptance_mko2,cost
0,6715fb30deea14086a61f76f,1,ทปอ.,1,จุฬาลงกรณ์มหาวิทยาลัย,Chulalongkorn University,1,วิทยาเขตหลัก,Main Campus,21,คณะวิศวกรรมศาสตร์,Faculty of Engineering,30,วิศวกรรมศาสตร์,0,วิศวกรรมทั่วไป,General Engineering,1,หลักสูตรวิศวกรรมศาสตรบัณฑิต สาขาวิชาวิศวกรรมศา...,Bachelor of Engineering Program,A,ภาษาไทย ปกติ,10010121300001A,0.0,ภาคการศึกษาต้นและภาคการศึกษาปลาย ภาคการศึกษาละ...
1,6715fb30deea14086a61f770,1,ทปอ.,1,จุฬาลงกรณ์มหาวิทยาลัย,Chulalongkorn University,1,วิทยาเขตหลัก,Main Campus,21,คณะวิศวกรรมศาสตร์,Faculty of Engineering,30,วิศวกรรมศาสตร์,5,วิศวกรรมคอมพิวเตอร์,Computer Engineering,1,หลักสูตรวิศวกรรมศาสตรบัณฑิต สาขาวิชาวิศวกรรมคอ...,Bachelor of Engineering Program in Computer En...,A,ภาษาไทย ปกติ,10010121300501A,140.0,ภาคการศึกษาต้นและภาคการศึกษาปลาย ภาคการศึกษาละ...
2,6715fb30deea14086a61f771,1,ทปอ.,1,จุฬาลงกรณ์มหาวิทยาลัย,Chulalongkorn University,1,วิทยาเขตหลัก,Main Campus,21,คณะวิศวกรรมศาสตร์,Faculty of Engineering,30,วิศวกรรมศาสตร์,5,วิศวกรรมคอมพิวเตอร์,Computer Engineering,99,หลักสูตรวิศวกรรมศาสตรบัณฑิต สาขาวิชาวิศวกรรมคอ...,Bachelor of Engineering Program in Computer En...,A,ภาษาไทย ปกติ,10010121300599A,300.0,ภาคการศึกษาต้นและภาคการศึกษาปลาย ภาคการศึกษาละ...
3,6715fb30deea14086a61f783,1,ทปอ.,1,จุฬาลงกรณ์มหาวิทยาลัย,Chulalongkorn University,1,วิทยาเขตหลัก,Main Campus,21,คณะวิศวกรรมศาสตร์,Faculty of Engineering,30,วิศวกรรมศาสตร์,6,วิศวกรรมเคมี,Chemical Engineering,1,หลักสูตรวิศวกรรมศาสตรบัณฑิต สาขาวิชาวิศวกรรมเค...,Bachelor of Engineering Program in Chemical an...,E,นานาชาติ,10010121300601E,40.0,ดูรายละเอียดเพิ่มเติม https://www.chula.ac.th/...
4,6715fb30deea14086a61f774,1,ทปอ.,1,จุฬาลงกรณ์มหาวิทยาลัย,Chulalongkorn University,1,วิทยาเขตหลัก,Main Campus,21,คณะวิศวกรรมศาสตร์,Faculty of Engineering,30,วิศวกรรมศาสตร์,11,วิศวกรรมนิวเคลียร์,Nuclear Engineering,1,หลักสูตรวิศวกรรมศาสตรบัณฑิต สาขาวิชาวิศวกรรมนิ...,Bachelor of Engineering Program in Nuclear and...,A,ภาษาไทย ปกติ,10010121301101A,20.0,ภาคการศึกษาต้นและภาคการศึกษาปลาย ภาคการศึกษาละ...

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4722 entries, 0 to 4721
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      4722 non-null   object
 1   university_type_id       4722 non-null   int64
 2   university_type_name_th  4722 non-null   object
 3   university_id            4722 non-null   int64
 4   university_name_th       4722 non-null   object
 5   university_name_en       4722 non-null   object
 6   campus_id                4722 non-null   int64
 7   campus_name_th           4722 non-null   object
 8   campus_name_en           4722 non-null   object
 9   faculty_id               4722 non-null   int64
 10  faculty_name_th          4722 non-null   object
 11  faculty_name_en          4571 non-null   object
 12  group_field_id           4722 non-null   int64
 13  group_field_th           4722 non-null   object
 14  field_id                 4722 non-null   int64
 15  field_name_th            4722 non-null   object
 16  field_name_en            4722 non-null   object
 17  program_running_number   4722 non-null   int64
 18  program_name_th          4722 non-null   object
 19  program_name_en          4432 non-null   object
 20  program_type_id          4722 non-null   object
 21  program_type_name_th     4722 non-null   object
 22  program_id               4722 non-null   object
 23  number_acceptance_mko2   4638 non-null   float64
 24  cost                     4722 non-null   object
dtypes: float64(1), int64(7), object(17)
memory usage: 922.4+ KB

In [8]:
df = df.fillna('null')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4722 entries, 0 to 4721
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      4722 non-null   object
 1   university_type_id       4722 non-null   int64
 2   university_type_name_th  4722 non-null   object
 3   university_id            4722 non-null   int64
 4   university_name_th       4722 non-null   object
 5   university_name_en       4722 non-null   object
 6   campus_id                4722 non-null   int64
 7   campus_name_th           4722 non-null   object
 8   campus_name_en           4722 non-null   object
 9   faculty_id               4722 non-null   int64
 10  faculty_name_th          4722 non-null   object
 11  faculty_name_en          4722 non-null   object
 12  group_field_id           4722 non-null   int64
 13  group_field_th           4722 non-null   object
 14  field_id                 4722 non-null   int64
 15  field_name_th            4722 non-null   object
 16  field_name_en            4722 non-null   object
 17  program_running_number   4722 non-null   int64
 18  program_name_th          4722 non-null   object
 19  program_name_en          4722 non-null   object
 20  program_type_id          4722 non-null   object
 21  program_type_name_th     4722 non-null   object
 22  program_id               4722 non-null   object
 23  number_acceptance_mko2   4722 non-null   object
 24  cost                     4722 non-null   object
dtypes: int64(7), object(18)
memory usage: 922.4+ KB

In [10]:
df.to_csv('C:/Users/pan21/cedt/tcas_cleaned.csv', index=False)
df.head()

,_id,university_type_id,university_type_name_th,university_id,university_name_th,university_name_en,campus_id,campus_name_th,campus_name_en,faculty_id,faculty_name_th,faculty_name_en,group_field_id,group_field_th,field_id,field_name_th,field_name_en,program_running_number,program_name_th,program_name_en,program_type_id,program_type_name_th,program_id,number_acceptance_mko2,cost
0,6715fb30deea14086a61f76f,1,ทปอ.,1,จุฬาลงกรณ์มหาวิทยาลัย,Chulalongkorn University,1,วิทยาเขตหลัก,Main Campus,21,คณะวิศวกรรมศาสตร์,Faculty of Engineering,30,วิศวกรรมศาสตร์,0,วิศวกรรมทั่วไป,General Engineering,1,หลักสูตรวิศวกรรมศาสตรบัณฑิต สาขาวิชาวิศวกรรมศา...,Bachelor of Engineering Program,A,ภาษาไทย ปกติ,10010121300001A,0.0,ภาคการศึกษาต้นและภาคการศึกษาปลาย ภาคการศึกษาละ...
1,6715fb30deea14086a61f770,1,ทปอ.,1,จุฬาลงกรณ์มหาวิทยาลัย,Chulalongkorn University,1,วิทยาเขตหลัก,Main Campus,21,คณะวิศวกรรมศาสตร์,Faculty of Engineering,30,วิศวกรรมศาสตร์,5,วิศวกรรมคอมพิวเตอร์,Computer Engineering,1,หลักสูตรวิศวกรรมศาสตรบัณฑิต สาขาวิชาวิศวกรรมคอ...,Bachelor of Engineering Program in Computer En...,A,ภาษาไทย ปกติ,10010121300501A,140.0,ภาคการศึกษาต้นและภาคการศึกษาปลาย ภาคการศึกษาละ...
2,6715fb30deea14086a61f771,1,ทปอ.,1,จุฬาลงกรณ์มหาวิทยาลัย,Chulalongkorn University,1,วิทยาเขตหลัก,Main Campus,21,คณะวิศวกรรมศาสตร์,Faculty of Engineering,30,วิศวกรรมศาสตร์,5,วิศวกรรมคอมพิวเตอร์,Computer Engineering,99,หลักสูตรวิศวกรรมศาสตรบัณฑิต สาขาวิชาวิศวกรรมคอ...,Bachelor of Engineering Program in Computer En...,A,ภาษาไทย ปกติ,10010121300599A,300.0,ภาคการศึกษาต้นและภาคการศึกษาปลาย ภาคการศึกษาละ...
3,6715fb30deea14086a61f783,1,ทปอ.,1,จุฬาลงกรณ์มหาวิทยาลัย,Chulalongkorn University,1,วิทยาเขตหลัก,Main Campus,21,คณะวิศวกรรมศาสตร์,Faculty of Engineering,30,วิศวกรรมศาสตร์,6,วิศวกรรมเคมี,Chemical Engineering,1,หลักสูตรวิศวกรรมศาสตรบัณฑิต สาขาวิชาวิศวกรรมเค...,Bachelor of Engineering Program in Chemical an...,E,นานาชาติ,10010121300601E,40.0,ดูรายละเอียดเพิ่มเติม https://www.chula.ac.th/...
4,6715fb30deea14086a61f774,1,ทปอ.,1,จุฬาลงกรณ์มหาวิทยาลัย,Chulalongkorn University,1,วิทยาเขตหลัก,Main Campus,21,คณะวิศวกรรมศาสตร์,Faculty of Engineering,30,วิศวกรรมศาสตร์,11,วิศวกรรมนิวเคลียร์,Nuclear Engineering,1,หลักสูตรวิศวกรรมศาสตรบัณฑิต สาขาวิชาวิศวกรรมนิ...,Bachelor of Engineering Program in Nuclear and...,A,ภาษาไทย ปกติ,10010121301101A,20.0,ภาคการศึกษาต้นและภาคการศึกษาปลาย ภาคการศึกษาละ...